body {
    font-size: 1rem;
    background-color: #212529;
    margin: 0;
    color:white;
}

header{
    font-size:2rem;
}

.logo{
    height: 70px;
}

.animalPhoto{
    width: 500px;
    height: 275px;
}

.card {
    background: #adc0de;
    box-shadow: 5px 5px 10px 5px #2f5aa1;
}

#formCategory{
    margin:30px 0 0 0;
}

#catalogContent {
    display: flex;
    gap: 40px;
    padding: 40px;
    flex-wrap: wrap;
}

.card-img-top{
    width:286px;
    height:184px;
}

.row.g-0 {
    background: #adc0de;
    box-shadow: 5px 5px 10px 5px #2f5aa1
}

.mainContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-title{
    font-size:2.5rem;
}

.popularhead {
    font-size: 4rem;
    text-shadow: 5px 5px #2f5aa1;
    padding: 10px;
}

select{
    max-width: 400px;
}