body {
    font-size: 1.5rem;
    background: #212529;
    margin: 0;
}

.logo{
    height: 70px;
}

.animalPhoto{
    width: 700px;
    height: 400px;
}

.card.mb-3{
    width: 80vw;
}

.row.g-0 {
    background: #adc0de;
    box-shadow: 5px  5px 10px 5px #2f5aa1
}

.mainContent {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-title{
    font-size:2.5rem;
}

.popularhead {
    font-size: 4rem;
    text-shadow: 5px 5px #2f5aa1;
    padding: 10px;
}