
@{
    ViewBag.Title = "Response";
}
@section headerSection {
    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-primary " data-bs-theme="dark" aria-label="Thirteenth navbar example">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample11" aria-controls="navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-lg-flex" id="navbarsExample11">
                <a class="navbar-brand col-lg-3 me-0" asp-controller="Home" asp-action="Index"><img class="logo" src="/images/ZooIcon.png" alt="logo" /></a>
                <ul class="navbar-nav col-lg-6 justify-content-lg-center" style="gap:30px;">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Catalog" asp-action="Catalog">Catalog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" asp-action="Administrator">Administrator</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
}
@if (@ViewBag.OperationSuccess)
{
    <h2 style="color:limegreen">Operation Successful!</h2>
    <p>You will be redirected to Administrator Page</p>
}
else
{
    <h2 style="color:red">Operation Failed!</h2>
    <p>You will be redirected to Administrator Page</p>
}
<script>
    const redirect = () => {
        setTimeout(() => {
            window.location.href = '/Administrator/Administrator';
        }, 3500)
    }
    redirect();
</script>