@model IEnumerable<WebProject.Models.Animal>

@{
    ViewBag.Title = "Catalog";
}
@if ((await AuthorizationService.AuthorizeAsync(User, "ManageUsersAndContentPolicy")).Succeeded)
{
    @section headerSection {
    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-primary " data-bs-theme="dark" aria-label="Thirteenth navbar example">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample11" aria-controls="navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-lg-flex" id="navbarsExample11">
                <a class="navbar-brand col-lg-3 me-0" asp-controller="Home" asp-action="Index"><img class="logo" src="/images/ZooIcon.png" alt="logo" /></a>
                <ul class="navbar-nav col-lg-6 justify-content-lg-center" style="gap:30px;">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" asp-action="Catalog">Catalog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Administrator" asp-action="Administrator">Administrator</a>
                    </li>
                </ul>
            </div>
        </div>
        @await Html.PartialAsync("_LogoutPartialView")
    </nav>
    }
}
else
{
    @section headerSection {
    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-primary " data-bs-theme="dark" aria-label="Thirteenth navbar example">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample11" aria-controls="navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-lg-flex" id="navbarsExample11">
                <a class="navbar-brand col-lg-3 me-0" asp-controller="Home" asp-action="Index"><img class="logo" src="/images/ZooIcon.png" alt="logo" /></a>
                <ul class="navbar-nav col-lg-6 justify-content-lg-center" style="gap:30px;">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" asp-action="Catalog">Catalog</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    }
}


<div id="formCategory" style="margin:30px 0 0 0;width: 300px">
    @using (Html.BeginForm("RedirectToCatalog", "Catalog", FormMethod.Post))
    {
        @Html.DropDownList("category", ViewBag.Categories, "Select Category", new { @class = "form-control", @onchange = "this.form.submit();" })
    }
</div>

<div id="catalogContent">
    @foreach (var a in Model)
    {
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="@a.PictureName" alt="animalPic">
            <div class="card-body">
                <h4 class="card-text">@a.Name</h4>
                <a class="btn btn-primary" asp-controller="Catalog" asp-action="AnimalDetails" asp-route-id="@a.AnimalId">Details</a>
            </div>
        </div>
    }
</div>